[alias]
	br = branch
	co = checkout
	cm = commit
    cp = cherry-pick
    df = diff
    ds = diff --cached
    fa = fetch -a
    re = rebase
	st = status --ahead-behind
    stu = status --ahead-behind -uno

[include]
    path = gituser.conf
