[color]
    status = auto
    branch = auto
    diff = auto
    interactive = auto
    ui = auto
    pager = true

[alias]
    ad = add .
    br = branch
    co = checkout
    cm = commit -m
    ca = commit -am 
    cp = cherry-pick
    df = diff
    ds = diff --cached
    fa = fetch -a
    lf = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    p = push
    pu = push -u origin head
    re = rebase
    rs = restore
    rt = reset
    st = status --ahead-behind
    stu = status --ahead-behind -uno
    sw = switch
    wa = worktree add
    wl = worktree list
    wr = worktree remove
    
[include]
    path = .gituser.conf
[init]
    defaultBranch = master
[url "ssh://git@"]
	insteadOf = https://
